
h1 {
    color: blue;
    margin: 5px;
    margin-top: 30px;
    padding-bottom: 10px;
}

p {
    margin: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    
}

.button {
    background-color: blue;
    color: white;
    border-radius: 35%;
    border-color: black;
}

.button:hover {
    color: white;
  }
  
.button:focus {
    border-radius: 10px;
    background-color: blue;
  }
  
.button:active {
    background-color: blue;
    font-size: 30px;
  }
